@use '../mixins/breakpoints' as *;

.testimonials {
  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 1.125rem;

      padding: 2rem;
      padding-top: 1.625rem;
      .user {
        display: flex;
        align-items: center;
        gap: 1.0625rem;

        .frame {
          border: 2px solid #a775f1;
          border-radius: 50%;
          height: 28px;
          width: 28px;
        }

        .name {
          display: flex;
          flex-direction: column;
        }
      }

      .text {
        blockquote {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .card--1 {
      background-image: url('../assets/images/bg-pattern-quotation.svg');
      background-repeat: no-repeat;
      background-size: 102px 104px;
      background-position: top right 26%;
    }
  }

  @include breakpoint(tablet) {
    & {
      &__cards {
        grid-template-columns: repeat(4, minmax(0, 277.5px));
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
        column-gap: 1.875rem;
        grid-template-areas:
          'daniel daniel jonathan kira'
          'jeanette patrick patrick kira';

        .card--1 {
          grid-area: daniel;

          background-position: top right 17%;
        }

        .card--2 {
          grid-area: jonathan;
        }

        .card--3 {
          grid-area: jeanette;
        }

        .card--4 {
          grid-area: patrick;
        }

        .card--5 {
          grid-area: kira;
        }
      }
    }
  }
}
